.btn {
  background-color: #eb4c56;
  border: 1px solid #eb4c56;
  padding: 16.12px 42.98px;
  width: 100%;

  color: #fff;
  font-size: 21.49px;
  font-weight: 600;
  text-align: center;
  line-height: 44.3px;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
