.bg {
  max-width: 100%;
  margin: 150px 0;
  background-color: #f8f8f8;
  // z-index: -100;
}

.page {
  margin: 0 auto;
  height: 740px;
  max-width: 1144.67px;

  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 22.09px;
  align-items: center;
  justify-content: center;
}
