.container {
  margin: 0 auto;
  /* max-width: 1176px; */
  height: 100%;
  /* background-color: black; */
  /* color: #fff; */
}

/* .image {
  width: 100%;
  height: 100%;
} */

.title {
  color: #1e2827;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  line-height: 44px;
  letter-spacing: -2%;
}

/* main */
